@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@model Web_Inlupp.ViewModel.ProductIndexViewModel
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Home Page";
    var username = User.Identity.Name;

}

<section class="hero-home py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <p class="h6 text-uppercase text-primary mb-3">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Product Manager"))
                    {
                    <p>Hello @username </p>
                }
                    </p>
                    <h1 class="mb-5">UI Design is not one of my strong sides...</h1>
                    <form class="p-2 rounded shadow-sm bg-white" method="get">
                        <div class="input-group">
                            <input class="form-control border-0 mr-2" asp-for="q" placeholder="Search...">
                            <div class="input-group-append rounded">
                                <button class="btn btn-primary rounded" asp-controller="Shop" asp-action="Index" type="submit">
                                    <i class="fas fa-search">Search</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>