@model Web_Inlupp.ViewModel.NewCategoryIndexViewModel

@{
    ViewData["Titel"] = "New Category";
}
<div class="card-body">
    <form method="post" asp-controller="ProductManager" asp-action="NewCategory">
        <h2>Edit</h2>

        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea rows="5" cols="30"
                      class="form-control" asp-for="Description">
                </textarea>
            <span asp-validation-for="Description" class="field-validation-error"></span>
        </div>

        <button class="btn btn-primary" type="submit">Add</button>
        <a class="btn btn-primary" asp-controller="ProductManager" asp-action="ListCategories">Cancel</a>
    </form>
</div>