@model Web_Inlupp.ViewModel.NewUserIndexViewModel

@{
    ViewBag.Title = "New User";
}

<div class="card-body">
    <form method="post">
        <fieldset>
            <h2>New User</h2>
            <div class="form-group">
                <label asp-for="UserName">User name</label>
                <input class="form-control" asp-for="UserName">
                <span asp-validation-for="UserName" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input class="form-control" asp-for="Password" placeholder="Enter new password...">
                <span asp-validation-for="Password" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckPassword">Password</label>
                <input class="form-control" asp-for="CheckPassword" placeholder="Enter password again">
                <span asp-validation-for="CheckPassword" class="field-validation-error"></span>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Add</button>
                <a asp-action="ListUser" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>