@model Web_Inlupp.ViewModel.ProductEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="card-body">
    <form method="post" asp-controller="Administration" asp-action="ProductEdit">
        <fieldset>
            <legend>Edit</legend>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name">
            </div>

            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input class="form-control" asp-for="Description">
            </div>

            <div class="form-group">
                <label asp-for="SelectCategoryId">Category</label>
                <select class="form-control"
                        asp-for="SelectCategoryId"
                        asp-items="Model.AllCategories"></select>
            </div>

            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input class="form-control" asp-for="Price">
            </div>

            <button class="btn btn-primary" type="submit">Save Changes</button>
        </fieldset>
    </form>
</div>